@page
@model ContactListRazor.Pages.ContactList.IndexModel

<br />
<div class="row container p-0 m-0">
    <div class="col-9">
        <h2 class="text-info">Contact List</h2>
    </div>
    <div class="col-3">
        <a class="btn btn-info text-white" asp-page="Create">Add New Contact</a>
    </div>
    <div class="col-12">
        <form method="post">
            <table class="table table-striped table-bordered">
                @if (Model.Contacts.Count() > 0)
                {
                    <tr class="table-secondary">
                        <th>
                            <label asp-for="Contacts.FirstOrDefault().FirstName"></label>
                        </th>
                        <th>
                            <label asp-for="Contacts.FirstOrDefault().MiddleName"></label>
                        </th>
                        <th>
                            <label asp-for="Contacts.FirstOrDefault().LastName"></label>
                        </th>
                        <th><!--Placeholder for buttons--></th>
                    </tr>
                    foreach (var item in Model.Contacts)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.FirstName)</td>
                            <td>@Html.DisplayFor(m => item.MiddleName)</td>
                            <td>@Html.DisplayFor(m => item.LastName)</td>
                            <td class="text-center">
                                <a class="btn btn-success text-white" asp-page="Edit" asp-route-id="@item.ID">Edit</a>
                                <button class="btn btn-danger text-white" onclick="return confirm('Delete record?')" asp-page-handler="Delete" asp-route-id="@item.ID">Delete</button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>No data available.</tr>
                }
            </table>
        </form>
    </div>
    <div class="col-12">
        <br />
        <h2 class="text-info" style="text-align: center">OR</h2>
        <br />
    </div>
    <div class="col-12">
        <table id="DT_load" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th><!--Placeholder for buttons--></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/contactList.js"></script>
}

